@charset "utf-8";

/*---------------------------------------------------*/
/*	Paralax
/*---------------------------------------------------*/
/*.inedi_tm_universal_box_wrap .overlay_image.terneo_main {
    background-image: url(../portfolio/terneo/terneo1.png);
}*/

/*---------------------------------------------------*/
/*	Fonts
/*---------------------------------------------------*/

.red_line {
    width: 10px;
    height: 100%;
    line-height: 80px;
    background-color: #ed2629;
    position: absolute;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    color: #FFF;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height:80px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

.h2class {
    font-size: 30px;
    margin-bottom: 18px;
}

h3 {
    font-size: 24px;
    margin-bottom: 18px;
}

.inseotext{
    color: #EEE;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.8;
}

h4 {
    font-size: 24px;
}
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.block_content p {
    font-size: 16px;
    color: #EEE;
    margin-bottom: 30px;
}

.block_content .end {
    margin-bottom: 0px;
}

.block_content .p_title_h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 18px;
}
.block_content .iquote {
    font-size: 14px;
    font-style: italic;
}
/*---------------------------------------------------*/
/*	Page menu effect
/*---------------------------------------------------*/
.inedi_pages_header {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: fixed;
    top: 0;
    z-index: 55;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inedi_pages_header.scroll .inedi_tm_navigation_wrap{
    padding: 10px 0 14px 0; 
    background-color: rgba(0,0,0,.8);
}

.inedi_tm_navigation_wrap .menu > ul .menu_separator {
    margin: 0 12px 0 -16px;
}

/*---------------------------------------------------*/
/*	Layout
/*---------------------------------------------------*/
.inedi_tm_section.page {
    padding-top: 134px;
}

.inedi_tm_section.worknext {
    background-color: #0c0c0c;
}

.title_conteiner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    text-align: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.title_wrap {
    display: inline-block;
    margin-left: 30px;
}

.block_content {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 80px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block_content img{
    width:100%;
}

.rightbox {
    width: 68.5%;
    float: right;
    padding-right: 0;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.leftbox {
    width: 31.5%;
    float: left;
    height: auto;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
}

.read_more a {
    color: #FFF;
    text-decoration: none;
    background-color: #ed2629;
    padding: 8px 30px;
    display: inline-block;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 30px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.read_more a:hover {
    background-color: #262626;
}

video{
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width: 760px) {
    .block_content .rightbox{width: 100%;padding: 0;}
    .block_content .leftbox{width: 100%; margin-top: 30px;}

    .title_conteiner .title_wrap h1 {font-size: 36px; line-height: 70px;}
    .title_conteiner .title_wrap h2 {font-size: 17px; }
}


@media (max-width: 480px) {
    .title_conteiner .title_wrap h1 {font-size: 32px; line-height: 60px;}
    .title_conteiner .title_wrap h2 {font-size: 14px}

    .block_content h3 {font-size: 20px;}
    .block_content .p_title_h3 {font-size: 20px;}
    .block_content p {font-size: 14px;}
    .block_content .inseotext{font-size: 14px;}
}